# python virtual environment
.venv/
.pdm-python

# ide confirguation file
.idea/
.vscode/

# build cache
build/
dist/

# runtime file
logs/
config.yaml

# self-test file
test*
.cache

# generation file
*.pyc
__pycache__/
*generate*/
resource_rc.py